<section>
  <div class="content mb-3">
   <%= link_to 'Directions', pages_directions_path, class: 'btn btn-primary' %>
   <%= link_to 'About', pages_about_path, class: 'btn btn-primary' %>
   <%= link_to 'News', pages_news_path, class: 'btn btn-primary' %>
   <%= link_to 'Articles', pages_articles_path, class: 'btn btn-primary' %>
   <%= link_to 'Contacts', pages_contacts_path, class: 'btn btn-primary' %>
   <%= link_to 'Products', products_path, class: 'btn btn-primary' %>
  </div>
</section>
