<container>
  <h1> Create new product </h1>



  <%= form_with model: @product do |form| %>
    <div id="group">
      <%= select_tag "group", 
          options_from_collection_for_select(ProductGroup.all, "id", "name"), 
          prompt: "Group", 
          class: "custom-select mb-0 mr-sm-0 mb-sm-0" %>
      <%= link_to 'New group', 
           new_group_path, 
          class: 'btn btn-primary btn-sm' %>
    </div>

    <div id="subgroup" style="display: none;">
      <%= select_tag "subgroup", prompt: "Subgroup", class: "custom-select mb-0 mr-sm-0 mb-sm-0 hidden" %>
      <%= link_to 'New subgroup', "/", class: 'btn btn-primary', id: 'create_subgroup' %>
    </div>

    <div id="temperature">
      <%= select_tag "group", 
          options_from_collection_for_select(TemperatureRange.all, "id", "name"), 
          prompt: "Thermal Range", 
          class: "custom-select mb-0 mr-sm-0 mb-sm-0" %>
      <%= link_to 'New thermal range', 
          new_thermal_range_path, 
          class: 'btn btn-primary btn-sm' %>
    </div>

    <div id="product" style="display: none;">
      <%= form.label :name %><br>
      <%= form.text_field :name %>

      <%= form.label :code %><br>
      <%= form.text_field :code %>
    </div>

    <div id="create" style="display: none;">
      <%= form.submit %>
    </div>
  <% end %>
</container>























